@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Gill+Sans");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  box-shadow: 10px 3px 10px #ccc;
  position: absolute;
  top: 0;
  background-color: #6495ed;
  display: flex;
}

#title {
  color: #fff;
  font-family: "Gill Sans";
  justify-content: center;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
  align-items: center;
  display: flex;
}

.nav-align {
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 0% 10%;
}

.button {
  padding: 0.3vw 3vw;
  cursor: pointer;
  color: #fff;
  font-size: large;
}

.button:hover {
  border-bottom: 2px solid white;
}

.button-login {
  background-color: rgb(66, 103, 204);
  cursor: pointer;
  padding: 37px;
  color: #fff;
  font-size: large;
  align-items: center;
  border-width: 0;
}

.button-login:hover {
  text-decoration: underline;
  font-weight: bold;
}

.subscriber {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.subscriber p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #ffb568;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}

.subscription-form input {
  display: block;
  margin: 5px;
}
