@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Gill+Sans");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  box-shadow: 10px 3px 10px #ccc;
  position: absolute;
  top: 0;
  background-color: #457bde;
  display: flex;
}

#title {
  color: #fff;
  font-family: "Gill Sans";
  align-self: center;
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
  align-items: center;
  display: flex;
}

.nav-align {
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#login {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.container {
  padding: 0% 10%;
}

.button {
  padding: 0.3vw 3vw;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.button:hover {
  border-bottom: 2px solid white;
}

.button-login {
  background-color: rgb(66, 103, 204);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: large;
  border: 0;
  min-width: 150px;
  min-height: 100px;
}

.button-login:hover {
  text-decoration: underline;
  font-weight: bold;
}

.login-form {
  display: block;
  margin: 5px;
}

.subscriber {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.subscriber p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #ffb568;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}

.subscription-form input {
  display: block;
  margin: 4px;
}

.placeholder::placeholder {
  font-weight: normal;
}
