@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Gill+Sans");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  box-shadow: 10px 3px 10px #ccc;
  position: absolute;
  top: 0;
  background-color: #3d74db;
  display: flex;
}

#title {
  color: #fff;
  font-family: "Gill Sans";
  align-self: center;
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
  align-items: center;
  display: flex;
}

.nav-align {
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#login {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.container {
  padding: 0% 10%;
}

.button {
  padding: 0.3vw 3vw;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.button:hover {
  border-bottom: 2px solid white;
}

.button-login {
  background-color: #3159c9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: large;
  border: 0;
  min-width: 150px;
  min-height: 100px;
}

.button-login:hover {
  text-decoration: underline;
  font-weight: bold;
}

.button-delete {
  padding: 0.3vw 3vw;
  cursor: pointer;
  border: none;
  width: 150px;
  border-radius: 20px;
  background-color: #b20000;
  color: #ffffff;
  font-size: 20px;
}

.button-delete:hover {
  text-decoration: underline;
  background-color: #e13939;
}

.button-edit {
  padding: 0.3vw 3vw;
  cursor: pointer;
  border: none;
  width: 150px;
  border-radius: 20px;
  background-color: #3363e9;
  color: #ffffff;
  font-size: 20px;
}

.button-edit:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: #5677d2;
}

.login-form {
  display: block;
  margin: 5px;
}

.list-container {
  padding: 0 20px;
  border-radius: 1px;
  margin-bottom: 50px;
}

.item-label {
  font-weight: 700;
  font-size: large;
  font-style: italic;
  margin-right: 5px;
  text-decoration: underline;
}

.item-text {
  font-size: large;
  margin-right: 10px;
  text-transform: capitalize;
}

.form input {
  display: block;
  margin-bottom: 10px;
}

.input {
  border-style: solid;
  border-radius: 4px;
  font-weight: normal;
}

.labels {
  margin-left: 2px;
  font-size: large;
}

/* House list layout */
.house {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 10px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 20px;
}

.house-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.house-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

/* Images */
.house-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 5px;
  border: 1px solid #ddd;
}
