<div class="container">
  <div class="col-sm-6">
    <img src="images/people.jpg" alt="" />
  </div>
  <div class="col-sm-6">
    <% if (!currentUser) { %>
    <h1>Welcome!</h1>
    <% } else { %>
    <h1>Welcome, <%= currentUser.name %>!</h1>
    <% } %>
    <p>Please check out all the new rentable locations by our users!</p>
    <p>
      When you want rent out your apartment or house
      <a href="/auth/login">register an account to join! </a>
    </p>
  </div>
</div>
