<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/rentall.css" />
  </head>

  <body>
    <div id="nav">
      <h1 id="title">RentAll</h1>

      <div class="col-sm nav-align">
        <a href="/">
          <span class="button">Home</span>
        </a>
        <a href="/prices">
          <span class="button">Prices</span>
        </a>
        <% if (currentUser) { %>
        <!-- When logged in-->
        <a href="/add_room">
          <span class="button">Add apartment</span>
        </a>
        <% } %>
        <a href="/allrooms">
          <span class="button">All apartments</span>
        </a>
      </div>
      <div id="login">
        <% if (!currentUser) { %>
        <!-- When NOT logged in -->
        <a href="/auth/login">
          <span class="button-login">Login</span>
        </a>
        <% } else { %>
        <!-- When logged in -->
        <form action="/auth/logout" method="post" style="display: flex">
          <button class="button-login" type="submit">Logout</button>
        </form>
        <% } %>
      </div>
    </div>

    <%- body %>
  </body>
</html>
